<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>About Us</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
</head>
<style>
  body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body>
  <div class="container">
    <div class="row">
      <div class="container">
        <br>
        <div class="bg-white ">
          <nav class="nav nav-pills nav-justified">
            <a class="nav-item nav-link text-dark" href="/home">Home</a>
            <a class="nav-item nav-link text-dark" href="/">Data</a>
            <a class="nav-item nav-link active btn btn-dark" href="/about">About Us.</a>
            <a class="nav-item nav-link text-dark" href="/inserts">Inserts</a>
            <!-- <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
          </nav>
          <hr class="style14">
        </div>
        <header class="w3-container w3-center w3-padding-32">
          <h1 align="center">About Us</h1>
          <h3 align="center">Welcome to project car detection <span class="badge badge-secondary">.Ai</span></h3>
          <hr class="style14">
          <!-- <p align="center">Welcome to project car detection <span class="w3-tag">.Ai</span></p> -->
        </header>
      </div>
      <div class="col-sm-12 text-center">
        <a href="/" class="btn btn-danger">Back</a>
        <a href="/inserts" class="btn btn-dark">Insert</a>
        <hr class="style14">
      </div>
    </div>

    <p>Data</p>
    <p>&emsp;Data</p>
    <pre>    Data </pre>

  </div>
  <br>
  <br>
  <br>
  <div class="container">
    <div class="row">
      <div class="container">
        <div class="card-group">
          <div class="card">
            <img class="card-img-top" src="{{url_for('static', filename='images/arts.jpg')}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title" align="center">Phisanurat Wonsitha</h5>
              <p class="card-text" align="center">Computer-Science <br> Mahasarakham University.</p>
              <p class="card-text" align="center"><small class="text-muted">Update 8 September 2019</small></p>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="{{url_for('static', filename='images/bankdark.jpg')}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title" align="center">Nantarwath Kamto</h5>
              <p class="card-text" align="center">Computer-Science <br> Mahasarakham University.</p>
              <p class="card-text" align="center"><small class="text-muted">Update 8 September 2019</small></p>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="{{url_for('static', filename='images/cross.jpg')}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title" align="center">Chollawath  Tepho</h5>
              <p class="card-text" align="center">Computer-Science <br> Mahasarakham University.</p>
              <p class="card-text" align="center"><small class="text-muted">Update 8 September 2019</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  ll</div>
</body>
</html>
